html
{ height: 100%;width:100%;}

*
{ margin: 0;
  padding: 0;}

#container{width:1024px;margin:0 auto;}

h1{font: normal 30px 'century gothic', arial, sans-serif;text-align:center;padding: 10 0 20px 0;}

h2{font: normal 16px 'century gothic', arial, sans-serif;color:gray;text-align:center;padding: 0 0 20px 0;}

a, a:hover
{ outline: none;
  text-decoration:none;
  color: #A4AA04;}

a:hover
{ text-decoration: none;
  color: blue;}

#Info p{height:30px;line-height:30px;}

#Homeworks header, #Examples header, #FinalScores header{font: bold 16px 'century gothic', arial, sans-serif;padding:30px 0 0 0;}
#Homeworks p{height:30px;line-height:30px;}
#FinalScores p{text-indent:2em;height:30px;line-height:30px;font-weight:bold;color:red;margin-bottom:30px;}

#chapters{padding:20px 0 0 0;width:99%;margin:0 auto;text-align:center;}
#chapters table{border:1px solid gray;}
#chapters td{height:30px;line-height:30px;text-align:center;padding:5px;} 

#page_footer{text-align:center;color:gray;hight:50px;line-height:50px;}
